/*===== Variables ======*/
$primary-font: 'Montserrat', sans-serif;
$accent-color: #00b2e9;
$primary-color: #9300e9;

/*===== Mixins =====*/
@mixin background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*===== General Styling =====*/

//white space removal
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border-radius: 0;
}

html,
body {
    font-family: $primary-font;
}

/*===== Media Queries =====*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 375px and up)
@media (min-width: 375px) {

    //Navigation Bar
    .navbar {
        background-color: white;
        font-family: $primary-font;
    }

    .navbar-toggler {
        @include background-img();
        background-image: url("../img/hamburger.png");
        background-size: 50%;
    }

    .navbar-brand {
        color: black;
        letter-spacing: 2px;
    }

    .nav-item {
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-item:hover {
        color: $accent-color;
    }
    //Navigation Bar

    //Title Container
    .title-block {
        background-image: url("../img/bg-1.jpg");
        @include background-img();
        background-attachment: fixed;
        height: 40em;
    }

    .title-block > h1 {
        font-family: $primary-font;
        padding-top: 4em;
        letter-spacing: 8px;
        font-size: 50px;
    }

    .title-block > h2 {
        font-family: $primary-font;
        letter-spacing: 8px;
        font-size: 30px;
    }
    //Title Container

    //About
    .about > .container > h3 {
        padding-top: 2em;
        padding-bottom: 1em;
        font-family: $primary-font;
        letter-spacing: 6px;
    }

    .about > .container > p {
        padding-bottom: 2em;
    }
    //About

    //Portfolio
    .portfolio {
        height: 20em;
    }

    .portfolio > h3 {
        letter-spacing: 6px;
    }
    //Portfolio

    //Clients
    .clients > .container > h3 {
        letter-spacing: 6px;
        padding-bottom: 1em;
    }

    .clients > .container > p {
        padding-bottom: 1em;
    }
    //Clients

    //Footer
    .footer > .social-media {
        display: flex;
        justify-content: space-evenly;
    }

    .footer > .social-media > a > img {
        width: 1.5em;
        margin-bottom: 1em;
    }

    .footer > .copyright {
        font-size: 10px;
    }
    //Footer

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    //Navigation Bar
    //Navigation Bar

    //Title Container
    .title-block {
        height: 61em;
    }

    .title-block > h1 {
        padding-top: 8em;
    }
    //Title Container

    //About
    //About

    //Portfolio
    .portfolio {
        margin-bottom: 16em;
    }
    //Portfolio

    //Clients
    .clients > p {
        padding-bottom: 2em;
    }
    //Clients

    //Footer
    .footer > .social-media {
        display: flex;
        justify-content: center;
    }

    .footer > .social-media > a {
        margin-left: 2em;
        margin-right: 2em;
    }

    .footer > .copyright {
        font-size: 14px;
    }
    //Footer

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    //Navigation Bar
    //Navigation Bar

    //Title Container
    .title-block {
        height: 50em;
    }
    //Title Container

    //About
    //About

    //Portfolio
    .portfolio > h3 {
        margin-bottom: 1em;
    }

    .portfolio {
        margin-bottom: 40em;
    }
    //Portfolio

    //Clients
    .clients {
        margin-bottom: 3em;
    }
    //Clients

    //Footer
    //Footer

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    //Navigation Bar
    //Navigation Bar

    //Title Container
    //Title Container

    //About
    //About

    //Portfolio
    //Portfolio

    //Clients
    //Clients

    //Footer
    //Footer

}