/*===== Variables ======*/
$primary-font: 'Montserrat', sans-serif;
$accent-color: #990000;

/*===== Mixins =====*/
@mixin background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*===== General Styling =====*/

//white space removal
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border-radius: 0;
}

/*===== Media Queries =====*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 375px) {

    //Navigation Bar
    .navbar {
        background-color: white;
        font-family: $primary-font;
    }

    .navbar-toggler {
        @include background-img();
        background-image: url("../img/hamburger.png");
    }

    .navbar-brand {
        color: black;
    }

    .nav-item {
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-item:hover {
        color: $accent-color;
    }
    //Navigation Bar

    //Title Container
    .title-block {
        height: 30em;
    }
    //Title Container

    //About
    //About

    //Portfolio
    .portfolio {
        height: 20em;
    }
    //Portfolio

    //Clients
    //Clients

    //Footer
    //Footer

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}